.Container {
    width: 90%;
    padding: 20px;
}

.Item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    --width: 90px;
    width: var(--width);
    margin: 10px;
}

.Item img {
    width: var(--width);
    height: calc(var(--width) * 1.5);
    margin-bottom: 5px;
}

.Item p {
    text-align: center;
    font-size: 10px;
    color: var(--grey);
    font-weight: 900;
}