.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.Confirmation {
    width: 30%;
    padding: 50px;
    border-radius: 5px;
    border: 3px solid var(--blue);
}

.Confirmation h1 {
    font-size: 20px;
    text-align: center;
}

.Confirmation a {
    border: 3px solid var(--blue);
    background: transparent;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.Confirmation a:hover {
    cursor: pointer;
}

.Confirmation a:focus {
    padding: 10px;
}

.Confirmation .Buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}