.Info {
    color: var(--grey);
    margin: 15px 0;
}

.Info .Head {
    margin: 0;
    font-weight: 900;
    font-size: 20px;
}

.Info p {
    margin-top: 0;
    font-size: 12px;
    text-align: left;
}

.Info a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    max-width: 50px;
    padding: 5px 0;
    border: 1px solid var(--red);
    font-size: 12px;
    color: var(--grey);
}