.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.Item {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 90px;
    margin: 10px;
}

.Item img {
    width: 100%;
    margin-bottom: 5px;
}

.Item p {
    text-align: center;
    font-size: 10px;
    color: var(--grey);
    font-weight: 900;
}