.MainSection {
    display: flex;
    justify-content: space-between;
}

.LeftSide {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.LeftSide .Nav {
    border-bottom: 1px solid #c20114;
    width: 90%;
}

.NavList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 20px auto;
}

.NavItem {
    display: inline-block;
    margin: 0px 20px;
    font-size: 1vw;
    transition: all 500ms;
}

.NavItem:hover {
    cursor: pointer;
    font-size: 1.5vw;
    color: #c20114;
}

.Active {
    font-size: 1.5vw;
    color: #c20114;
}

.Body {
    margin-left: 10%;
    width: 80%;
}