.CarouselContainer {
    position: relative;
    width: 100%;
}

.CarouselViewport {
    display: flex;
    align-items: flex-end;
    white-space: nowrap;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    width: 100%;
    
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

.CarouselContainer .Border {
    width: 100%;
    border-bottom: 1px solid #c20114;
    position:relative;
}

.CarouselContainer .ActiveBorder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 2px solid #c20114;
    bottom: 0;
}