.About {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-left: 20px;
    width: 90%;
}

.About > div {
    display: flex;
}

.About img {
    box-shadow: 0 0 10px black;
    width: 100px;
    height: calc(100px * 1.5);
}

.About .Info {
    display: flex;
    flex-direction: column;
}

.About .Name {
    margin-left: 20px;
    display: flex;
}

.About .Name h2 {
    font-size: 20px;
    margin-top: 30px;
    font-weight: 900;
}

.About .Info p {
    font-size: 10px;
    text-align: left;
}

.About .Info a {
    color: white;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
    transition: all 500ms;
}

.About .Info a:hover {
    color: #c20114;
}

.About .Info div {
    margin-top: 20px;
}

.About .Info div p:first-child {
    font-weight: 900;
    font-size: 12px;
    margin: 0;
}