.Information {
    margin: 2vw;
    padding: 2vw;
    width: 15%;
    border-left: 1px solid var(--red);
}

.Info {
    margin-top: 2vw;
}

.Info .Head {
    margin: 0;
    font-weight: 900;
    font-size: 1vw;
}

.Info .Body {
    margin-top: 0.5vw;
    font-size: 0.7vw;
}

.Info p {
    text-align: left;
}

.Info a {
    display: flex;
    justify-content: center;
    max-width: 70px;
    color: white;
    text-decoration: none;
    padding: 7px 0;
    border: 1px solid var(--red);
    transition: all 500ms;
}

.Info a:hover {
    background: var(--red);
}