.NavBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1vw 3vw;
    background: black;
}

.LeftSide {
    display: flex;
    align-items: center;
}

.NavBar img {
    width: 10vw;
}

.NavList {
    list-style: none;
}

.NavItem {
    position: relative;
    display: inline-block;
    margin: 0 1vw;
}

.NavItem a {
    font-weight: 900;
    font-size: 1.2vw;
    color: #c20114;
    text-decoration: none;
}

.NavItem .border {
    position: absolute;
    bottom: -0.6vw;
    width: 0%;
    background: #084887;
    height: 0.35vw;
    transition: all 500ms;
}

.NavItem:hover .border {
    width: 100%;
}

.Active .border {
    width: 100%;
}

.RightSide {
    display: flex;
    align-items: center;
}

.RightSide i {
    margin-right: 0.5vw;
    font-size: 2vw;
    color: #c20114;
}

.Search {
    display: flex;
    align-items: center;
    position: relative;
}

.Search input {
    background: transparent;
    font-weight: 900;
    color: white;
    padding-left: 10px;
}

.Search button {
    padding: 0;
    position: absolute;
    height: 100%;
    background: transparent;
    border: none;
    right: 0.2vw;
    color: #c20114;
}

.Search button:active {
   padding: 0;
}

.Search button i {
    font-size: 1.5vw;
}

.User {
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
}

.User img {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    border: 2px solid #c20114;
}

.User i {
    margin-left: 0.5vw;
    font-size: 1.5vw;
    color: #c20114;
}