.Seasons {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
}
.Item {
    display: flex;
    margin: 10px 0;
}

.Item img {
    box-shadow: 0 0 10px black;
    width: 100px;
    height: calc(100px * 1.5);
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-left: 10px;
}

.Info h1 {
    text-align: left;
    margin: 0;
    font-size: 15px;
    font-weight: 900;
}

.Info .YearAndEpisodeCount {
    display: flex;
}

.Info .YearAndEpisodeCount p {
    margin: 0;
    margin-right: 2px;
}

.Info p {
    margin-top: 10px;
    text-align: left;
    font-size: 10px;
}