.User {
    margin-left: 0.5vw;
    display: flex;
    align-items: center;
}

.User img {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
    border: 2px solid var(--red);
}

.User i {
    margin-left: 0.5vw;
    font-size: 1.5vw;
    color: var(--red);
}

@media (max-width: 500px) {
    .User img {
        height: 40px;
        width: 40px;
        border: 1px solid var(--red);
    }

    .User i {
        display: none;
    }
}