.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.ResetPassword {
    width: 30%;
    min-height: 150px;
    padding: 50px;
    border-radius: 5px;
    border: 3px solid var(--blue);
    animation: fadeIn 1000ms ease-in-out;
}

.ResetPassword h2 {
    text-align: center;
}

.ResetPassword .Instruction {
    text-align: center;
    margin: 20px 0;
}


.ResetPassword form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ResetPassword form div {
    display: flex;
    flex-direction: column;
}

.ResetPassword label {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.ResetPassword input {
    margin: 5px 0px 10px 0px;
    font-size: 15px;
    padding: 7px;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    color: white;
    transition: all 500ms;
}

.ResetPassword input:focus {
    border-bottom: 3px solid var(--blue);
}

.ResetPassword button {
    margin: 0px auto;
    font-size: 20px;
    width: 150px;
    color: white;
    border: none;
    background: transparent;
    padding: 0;
    transition: all 500ms;
}

.ResetPassword button:hover {
    cursor: pointer;
    color: var(--blue);
}

.ResetPassword button:active {
    padding: 0;
}

.ResetPassword .forgotAndSignup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ResetPassword a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}

.ResetPassword a:hover {
    cursor: pointer;
    color: var(--blue)
}

.ResetPassword .Error {
    border-bottom: 3px solid var(--red);
}

.ResetPassword .errorMessage {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.ResetPassword .global {
    text-align: center !important;
}

.ResetPassword .noErrorMessage {
    opacity: 0;
    height: 25px;
}

.ResetPassword a {
    border: 3px solid var(--blue);
    background: transparent;
    padding: 10px;
    color: white;
    text-decoration: none;
}

.ResetPassword a:hover {
    cursor: pointer;
}

.ResetPassword a:focus {
    padding: 10px;
}

.ResetPassword .Buttons {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}