.Item {
    margin: 2vw;
    display: flex;
    width: 70%;
    padding-bottom: 1vw;
    border-bottom: 1px solid var(--red);
}

.Item img {
    --width: 10vw;
    width: var(--width);
    height: calc(var(--width) * 1.5);
}

.Info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2vw;
}

.Info h1 {
    text-align: left;
    margin: 0;
    font-size: 1.5vw;
    font-weight: 900;
}

.Info .YearAndEpisodeCount {
    display: flex;
}

.Info .YearAndEpisodeCount p {
    margin: 0;
    margin-right: 0.5vw;
}

.Info p {
    font-size: 1vw;
}