.Background {
    position: relative;
    height: 40vw;
    overflow: hidden;
}

.Background img {
    width: 100%;
}

.Background .Overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.7);
}

.TopSection {
    position: relative;
}

.TopSection .Details {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Details img {
    height: 70%;
    border-radius: 2vw;
}

.Details .Info {
    margin: 5vw;
    height: 70%;
    width: 40%;
}

.Details .VoteAverage {
    display: flex;
    justify-content: flex-end;
}

.Details h1 {
    font-size: 3vw;
    text-align: left;
}

.Details h2 {
    font-size: 2vw;
}

.Details .VoteAverage i {
    color: #ffbf00;
    margin: 0px 20px;
    font-size: 3vw;
    display: flex;
    align-items: center;
}

.Details p {
    text-align: left;
    margin-top: 2vw;
    font-size: 0.8vw;
    width: 70%;
}

.Details h1, h2 {
    margin: 0;
}