.Container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.ResetPasswordRequest {
    width: 30%;
    min-height: 150px;
    padding: 50px;
    border-radius: 5px;
    border: 3px solid var(--blue);
    animation: fadeIn 1000ms ease-in-out;
}

.ResetPasswordRequest h2 {
    text-align: center;
}

.ResetPasswordRequest .Instruction {
    text-align: center;
    margin: 20px 0;
}


.ResetPasswordRequest form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ResetPasswordRequest form div {
    display: flex;
    flex-direction: column;
}

.ResetPasswordRequest label {
    color: white;
    margin-left: 20px;
    font-size: 20px;
}

.ResetPasswordRequest input {
    margin: 5px 0px 10px 0px;
    font-size: 15px;
    padding: 7px;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    color: white;
    transition: all 500ms;
}

.ResetPasswordRequest input:focus {
    border-bottom: 3px solid var(--blue);
}

.ResetPasswordRequest button {
    margin: 0px auto;
    font-size: 20px;
    width: 80px;
    color: white;
    border: none;
    background: transparent;
    padding: 0;
    transition: all 500ms;
}

.ResetPasswordRequest button:hover {
    cursor: pointer;
    color: var(--blue);
}

.ResetPasswordRequest button:active {
    padding: 0;
}

.ResetPasswordRequest .forgotAndSignup {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.ResetPasswordRequest a {
    text-decoration: none;
    color: white;
    transition: all 500ms;
}

.ResetPasswordRequest a:hover {
    cursor: pointer;
    color: var(--blue)
}

.ResetPasswordRequest .Error {
    border-bottom: 3px solid var(--red);
}

.ResetPasswordRequest .errorMessage {
    color: white;
    text-align: left;
    margin-bottom: 10px;
}

.ResetPasswordRequest .global {
    text-align: center !important;
}

.ResetPasswordRequest .noErrorMessage {
    opacity: 0;
    height: 25px;
}