.Container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Container a {
    margin-top: 20px;
    text-decoration: none;
}

.Item {
    width: 90px;
    margin: 10px;
}

.Item img {
    width: 100%;
    box-shadow: 0 0 10px black;
}

.Description {
    width: 100%;
}

.Description p {
    text-align: center;
    font-size: 10px;
    color: rgba(255,255,255,0.5);
    font-weight: 900;
}